flask
flask-cors
langchain
langchain-openai
langchain-community
langsmith
sqlalchemy
psycopg2
python-dotenv
psycopg2-binary
gunicorn
=======
flask
flask-cors
langchain
langchain-openai
langchain-community
langsmith
sqlalchemy
psycopg2
python-dotenv
psycopg2-binary